*.swp
*.zip
*.DS_Store
/.dapper
*.idea
*.vscode
/.trash-cache
/.vagrant
/*.log
/bin
/build
/data-dir
/dist
/package/rio
__pycache__
/tests/.pytest_cache/
/tests/.tox/
/tests/.vscode
/tests/.idea
/tests/MANIFEST
/tests/fuzz/*/crashers
/tests/fuzz/*/suppressions
main
